@page
@model FitFriends.Pages.GlutesModel
@{
    ViewData["Title"] = "Glutes Category";




    <h2>@ViewData["Title"]</h2>

    if (!Model.GlutesSummaries.Any())
    {

        <p>View Glutes Workouts here.</p>
    }
    else
    {
        foreach (var post in Model.GlutesSummaries)
        {
            <article>
                <div class="col-md-12">
                    <h2><a asp-page="/Post" asp-route-id="@post.Id">@post.Title</a></h2>

                    <div class="h5 text-muted">Last Published @post.PublishTime</div>

                    <p class="lead">@post.Excerpt</p>
                    <div class="h4"><a asp-page="/Post" asp-route-id="@post.Id"><i class="fas fa-comments"></i> @post.CommentCount</a></div>

                </div>
            </article>
            }


        }

    }

